<% include ../core %>

<body>
    <% include ../navigation %>
    
    <h1 class="title is-1">Does My Pet Need An Umbrella?</h1>

    <h2 class="title is-3">Select a pet to find out.</h2>

    <a href="/pets/new">Or add a new pet</a>

    <table class="table is-fullwidth is-striped is-hoverable">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Breed</th>
            <th></th>
        </tr>
        <% for(const pet of pets){ %>
        <tr>
            <td><%= pet.name %></td>
            <td><%= pet.type %></td>
            <td><%= pet.breed %></td>
            <td><a href="/pets/<%= pet.id %>">view</a></td>
        </tr>
        <% } %>
    </table>

    <% include ../footer %>
</body>

</html>
