<% include ../core %>

<body>
    <% include ../navigation %>
    
    Sorry! This pet does not exist. <a href="/pets/new">You can create one, though.</a>

    <a href="/">Lookup a different pet</a>
    
    <% include ../footer %>
</body>

</html>
