<% include ../core %>

<body>
    <% include ../navigation %>
    
    <h1 class="title is-1">Sorry!</h1>
    <p>This pet does not exist.</p>
    <a href="/pets/new">You can create one, though.</a>

    <% include ../footer %>
</body>

</html>
