<% include ../core %>

<body>
    <% include ../navigation %>
    
    <% if(isUmbrellaNeeded){ %>
    
    <h1 class="title is-1">Yup!</h1>
    <p>It looks like <%= name %> is going to need one in <%= location %>.</p>

    <% }else{ %>

        
    <h1 class="title is-1">Nope!</h1>
    <p>It looks like <%= name %> is not going to need one in <%= location %>.</p>

    <% } %>

    <a href="/">Lookup a different pet</a>
    
    <% include ../footer %>
</body>

</html>
